
main {
     line-height: 1.5;
     margin-bottom: 1.5em;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #8C3232;
}

.awards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
  margin-bottom: 1em;
}

.year {
  background: #fff;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.year h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #8C3232;
  padding-bottom: 0.3rem;
  color: #8C3232;
}

.year ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.year li {
  margin: 0.3rem 0;
}

strong{
    font-weight: 600;
}

.section-title {
  text-align: center;
  margin: 3rem 0 1rem;
  font-size: 1.6rem;
  color: #8C3232;
  border-bottom: 3px solid #8C3232;
  display: inline-block;
  padding-bottom: 0.3rem;
}


@media (max-width: 1024px){
  .header-menu{
    justify-content: space-between;
  }
}

@media (max-width: 768px){

  main{
    width: 90%;
  }

  .year {
  background: #fff;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .year h2 {
    font-size: 20px;
    border: none;
    padding: 0;
    color: #8C3232;
    margin-bottom: 0;
    align-items: center;
  }

  .year ul {
    display: none;
  }

  .year.active ul {
    display: block;
  }

  .year h2 {
    cursor: pointer;
    position: relative;
  }

  .year h2::after {
    content: "▾";
    padding-right: 1em;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
  }

  .year.active h2::after {
    transform: rotate(180deg);
  }
}


@media (max-width: 480px){

  h1{
    font-size: 32px;
    margin-bottom: 0.2em;
  }

  .section-title{
    border-bottom: none;
    margin: 0.5em 0;
  }

  .year li, strong{
    font-size: 14px
  }


}

@media (max-width: 375px){

  h1{
    font-size: 35px;
  }

.year{
  font-size: 14px;
}

}