
.menu {
  display: flex;
  overflow-x: auto;       
  white-space: nowrap;       
  scroll-behavior: smooth;
  padding: 0.5em 0;
  border-radius: 5px;
  background-color: #8c3232bb;
  -webkit-overflow-scrolling: touch;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu ul {
  display: flex;
  padding: 0;
  margin: 0 auto;

}

.menu li {
  display: flex;
  gap: 0.7em;
  padding: 0.5em 1em;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 50px;
  background-color: #ffffff1a;
  transition: 0.3s;
  white-space: nowrap; 
}

.menu a:hover {
  background-color: #681212;
}

main h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #8c3232;
  margin: 0.8em 0;
}
.category-title {
  font-size: 35px;
  font-weight: 500;
  color: #8c3232;
  margin: 1rem 0 0 0.7em;
}

/* carossel*/
.card {
  max-width: 200px;
  flex-direction: column;
  box-shadow: 0px 5px 10px #00000031;
  border-radius: 7px;
  padding: 0.5em;
  align-items: center;
}

.card:hover {
    transform: translateY(-6px);
    transition: 0.2s;
  }

.card img {
  height: 200px; 
  object-fit: cover;
  border-radius: 7px;
}

.card-body {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card-title {
  font-weight: 600;
  color: #8c3232;
  font-size: 14px;
  margin: 0;
  line-height: 1.2;
}

.card-links {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.card-links a{
  text-decoration: none;
  color: #000;
  padding: 0.4em;
  border-radius: 5px;
  background-color: #cacaca2c;
  transition: 0.3s;
  font-size: 16px;
}

.card-links a:hover{
  background-color: #8c3232;
  color: #fff;
}



@media (max-width: 1100px) {
  .wrapper.carousel .card {
    width: 200px;
  }
  .wrapper.carousel .card img {
    height: 200px;
  }
}

@media (max-width: 760px){
.wrapper.carousel .arrow{
  display: none !important;
}

.wrapper.carousel::before,
  .wrapper.carousel::after {
    display: none;
  }
}


@media (max-width: 600px) {

  .wrapper.carousel{
    padding: 0.5rem 0 0 0;
  }

  .wrapper.carousel .track {
    padding: 12px 10px;
    gap: 12px;
  }
  .wrapper.carousel .card {
    width: 60vw;
    max-width: 180px;
  }
  .wrapper.carousel .card img {
    height: 180px;
  }

  .card-links a {
    font-size: 14px;
  }

  main h1 {
    font-size: 30px;
  }

  .category-title {
    font-size: 25px;
  }

  .menu a {
      font-size: 16px;
      padding: 0.5em 1em;
  }

  .menu li {
      gap: 0.5em;
  }
}

@media (max-width: 460px){

  .wrapper.carousel .card {
    width: 60vw;
    max-width: 150px;
  }
  .wrapper.carousel .card img {
    height: 150px;
  }

  main h1{
    font-size: 25px;
  }

  .category-title {
    font-size: 22px;
  }

}
