
.home-body{
    height: 100vh;
    align-content: center;
}

.home-container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 650px;
}

.menu-container ul{
    display: flex;
    gap: 1em;
    margin: 2em 0 1em 0;
}

.menu-container li{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    transition: 0.3s ease;

}

li i{
    font-size: 20px;
     color: #8C3232;
   
}

.menu-container a{
    text-decoration: none;
    font-size: 25px;
    color: #8C3232;
    border: solid 2px #8C3232;
    border-radius: 10px;
    padding: 1em 1.6em;
    width: 100%;
}

.itzyflix a{
    color: #fff;
}

.itzyflix i{
    color: #fff;
}

.menu-container li:hover{
    transform: translateY(-6px);
}


footer{
    text-align: center;
    margin-top: 4em;
    color: #8C3232;
}

footer a{
color: #8C3232;}


/* responsividade*/
@media (max-width: 768px) {
    .logo{
        width: 600px;
    }

    .menu-container ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 600px;
    }

    footer{
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .logo{
        width: 350px;
    }

    .menu-container ul{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .fa-solid.fa-circle-info,
    .fa-solid.fa-users,
    .fa-solid.fa-music{
        display: none;
    }
    .menu-container a{
        font-size: 20px;
    }

    footer{
        margin-top: 2em;
    }


}

@media (max-width: 375px) {
    .logo{
        width: 300px;
    }

    .menu-container ul{
        display: flex;
        flex-direction: column;
        width: 280px;
    }
}