
.category-menu {
  display: flex;
  overflow-x: auto;            
  white-space: nowrap;        
  scroll-behavior: smooth;
  padding: 0.5em 0;
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: #8c3232bb;
  -webkit-overflow-scrolling: touch;
}

.category-menu::-webkit-scrollbar {
  display: none;
}

.category-menu ul{
   display: flex;
  padding: 0;
  margin: 0 auto;
}

.category-menu li {
  display: flex;
  gap: 0.7em;
  padding: 0.5em 1em;
}
.category-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 50px;
  background-color: #ffffff1a;
  transition: 0.3s;
  white-space: nowrap;     
}
.category-menu a:hover {
  background: #681212;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 1em 0 1em;
  position: relative;
  z-index: 15;
}
.category-name {
  font-size: 32px;
  font-weight: 500;
  color: #8c3232;
  text-decoration: none;
}
.all-content {
  font-size: 16px;
  opacity: 0.7;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #681212;
}
.all-content:hover {
  opacity: 1;
}

/* carossel*/
.card {
  flex: 0 0 auto;
  width: calc((100% / 3.2) - 10px); /* mobile peek do 4º */
  min-width: 90px;
  max-width: 220px;
  box-shadow: 0 4px 8px #0002;
  transition: 0.3s;
  border-radius: 8px;
}
.card:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

/* modal*/
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-overlay.active {
  display: flex;
}

.modal-content {
  background: #111;
  padding: 1.5em;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  color: #fff;
}

.modal-content h3 {
  margin-bottom: 1em;
}

.modal-links {
  list-style: none;
  padding: 0;
}

.modal-links li a {
  display: block;
  padding: 0.6em;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  background: #8C3232;
  margin-bottom: 0.5em;
  transition: 0.3s;
}

.modal-links li a:hover {
  background: #681212;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}



@media (max-width: 768px) {
  .arrow {
    display: none !important;
  }

  .track {
    padding-left: 0.5em;
    padding-right: 0.5em;
    gap: 10px;
  }
  .card {
    flex: 0 0 auto;
    width: calc((100% / 3.2) - 10px); /* 3 cards + início do 4º */
    min-width: 90px;
    margin-right: 5px;
  }

  .category-title {
  z-index: 0;
}

  .category-name {
  font-size: 25px;
}

  .category-menu a {
    font-size: 14px;
    padding: 0.5em 0.8em;
  }

  .category-menu li {
    gap: 0.4em;
  }
}

@media (max-width: 460px) {
  .card {
    width: 130px;
    min-width: 130px;
  }

  .all-content {
  font-size: 14px;
}

.track {
    gap: 3px;
  }


  .modal-content {
  width: 80%;
}
}

@media (max-width: 375px) {
  nav a {
    font-size: 16px;
  }
  .card {
    width: 120px;
    min-width: 120px;
  }
}

