
.category-menu {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 0.5em 0;
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: #8c3232bb;
  -webkit-overflow-scrolling: touch;
}
.category-menu::-webkit-scrollbar {
  display: none;
}

.category-menu ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.category-menu li {
  display: flex;
  gap: 0.7em;
  padding: 0.5em;
}

.category-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 50px;
  background-color: #ffffff1a;
  transition: 0.3s;
  white-space: nowrap;
}
.category-menu a:hover {
  background: #681212;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 1em 0;
  position: relative;
  z-index: 15;
}

.category-name {
  font-size: 32px;
  font-weight: 500;
  color: #8c3232;
  text-decoration: none;
}

.all-content {
  font-size: 16px;
  opacity: 0.7;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #681212;
}
.all-content:hover {
  opacity: 1;
}

.card {
  flex: 0 0 auto;
  width: 220px;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0002;
  transition: 0.3s;
  background: #e0e0e0;
}

.card:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.modal-overlay.active {
  display: flex;
}

.modal-content {
  background: #111;
  padding: 1.5em;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  color: #fff;
}

.modal-links {
  list-style: none;
  padding: 0;
}
.modal-links li a {
  display: block;
  padding: 0.6em;
  border-radius: 6px;
  color: #fff;
  background: #8c3232;
  margin-bottom: 0.5em;
  transition: 0.3s;
  text-decoration: none;
}
.modal-links li a:hover {
  background: #681212;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .arrow {
    display: none !important;
  }

  .track {
    padding: 0 0.5em;
    gap: 10px;
  }

  .category-title {
    z-index: 0;
  }
  .category-name {
    font-size: 25px;
  }

  .category-menu a {
    font-size: 14px;
    padding: 0.5em 0.8em;
  }

  .category-menu li {
    gap: 0.4em;
  }

  .card {
    width: 180px;
    margin: 0.5em 0;
  }
}

@media (max-width: 460px) {
  .category-name {
    font-size: 20px;
  }

  .card {
    width: 112px;
  }

  .all-content {
    font-size: 14px;
  }
  .track {
    gap: 6px;
  }

  .modal-content {
    width: 80%;
  }
}

@media (max-width: 375px) {
}
